<div id="beer-img">
  <img src ="images/beer.png" style: 25rem; padding: rem;>
</div> 

  <div id="buttons">
    <button type="button">
      <a href ="beers" class="text-light font=weight-nold">Check the Beers!</a>
  </button>
    <button type="button"><a href= "random-beer" class="text-light font-weight-bold">Check a random beer!</a></button>
  </div>